.Radio {
  padding: 2vh;
}

.Radio label {
  width: 100%;
  height: 100%;
}

.Radio label img {
  height: 10vh;
}

.Radio input {
  left: -999em;
  position: absolute;
}

.Radio input:checked + label img {
  outline: 5px solid var(--third);
  border-radius: 5px;
}
